<%- include('../partials/header', {}) %>

<img src="/public/images/bg8.jpg" class="img-fluid" alt="Responsive image">

<section class="details-books py-5">
    <div class="container py-md-4 mt-md-3">
    <h2 class="heading-agileinfo">Protégete de los fraudes<span>Información importante para proteger tu información financiera</span></h2>
        <span class="w3-line black"></span>
        <div class="row mt-md-5 pt-4">
        <div class="col-lg-6 agileits_updates_grid_right">
                <div id="accordion">
                  <div class="card w3l-acd">
                    <div class="card-header wl3_head" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         <span class="fa fa-check mr-2" aria-hidden="true"></span>
                             Phising
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li style="color: #f4511e;"><strong>¿Qué es?</strong></li>
                            <li>Es una modalidad de fraude en la que mediante un correo electrónico falso te piden ingresar a una página web que simula ser del Banco Perú. En ella, te piden ingresar tus datos bancarios, tales como número de tarjeta, clave secreta de 6 dígitos, fecha de vencimiento, código CVV y clave token, que luego serán utilizadas para extraer dinero de tus cuentas o realizar compras por internet.</li>
                            <li style="color: #f4511e;"><strong>¿Cómo prevenirlo?</strong></li>
                            <li><strong>Cuida tus datos.</strong>En el Banco Perú nunca te enviaremos correos electrónicos solicitándote información  de tus cuentas, clave de internet, actualizar tus datos y/o recibir premios a través de links que deriven a alguna web. <br>

                               <strong>Navega seguro por internet.</strong>Mantén siempre un antivirus actualizado en tu computadora, y nunca realices operaciones desde una cabina de internet o redes inalámbricas públicas.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card w3l-acd">
                    <div class="card-header wl3_head" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         <span class="fa fa-check mr-2" aria-hidden="true"></span>
                             Smishing
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="card w3l-acd">
                    <div class="card-header wl3_head" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         <span class="fa fa-check mr-2" aria-hidden="true"></span>
                                Vishing
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="col-lg-6 details-w3l">
            <img src="/public/images/g11.jpg" class="img-fluid" alt="" />
        </div>
        </div>
    </div>
</section>

<%- include('../partials/footer', {}) %>